<script src="@{'/public/javascripts/jquery.rating.js'}" type="text/javascript"></script>
<script src="@{'/public/javascripts/jquery.rating.pack.js'}" type="text/javascript"></script>
<script type="text/javascript">
<!--

//-->
$(function(){
	$("#userLoginPasswd").bind('blur',checkPasswdLevel);
	$(".make_corner").corner();
	$("#loginButton").click(userLogin);
})
function checkPasswdLevel(){
	var passwd = $("#userLoginPasswd").val();
	alert(passwd);
	if(passwd.length < 6){
		$("#passwdLevelC").html("弱");
		$("#passwdLevelP").css({"background-color":"red"});
	}else if(passwd.length < 12){
		$("#passwdLevelC").html("中");
		$("#passwdLevelP").css({"background-color":"yellow"});
	}else{
		$("#passwdLevelC").html("强");
		$("#passwdLevelP").css({"background-color":"green"});
	}
}
function userLogin(){
	var username = $("#username").val();
	var passwd = $("#passwd").val();
	var stepAction = #{jsAction @Users.login(':username',':passwd') /};
	$.post(stepAction({'username':username,'passwd':passwd}),function(data){
		$("#window").data("kendoWindow").close();
		},"json");
}
</script>
<div style="margin-left: 50px;">
	<table>
		<tr>
			<td>用户名</td>
			<td><input name="username" type="text"/></td>
		</tr>
		<tr>
			<td>密码</td>
			<td><input id="userLoginPasswd" name="password" type="password"/></td>
		</tr>
		<tr>
			<td>密码强度</td>
			<td><div id="passwdLevelC"></div><div id="passwdLevelP"></div></td>
		</tr>
		<tr>
			<td>性别</td>
			<td><input id="userLoginPasswd" name="sex" type="radio"/></td>
		</tr>
	</table>
	<div id="loginButton" class="make_corner">LOGIN</div>
</div>
<style>
<!--

-->
#passwdLevelC {
float:left;
width: 50px;
height: 30px;
}
#passwdLevelP{
float:left;
background-color: red;
width: 50px;
height: 30px;
}
#loginButton{
width: 150px;
height: 30px;
border-width:1px;
border-style:solid;
margin-left:60px;
text-align: center;
padding-top: 7px;
}
</style>