<form action="@{Books.listDetail}" method="post" id="bookListForm" onSubmit="return ajaxSubForm('bookListForm', 'main-contianer');">
<script type="text/javascript">
$(function(){
	initImg();
})
</script>
<div class="lesson-search-area boraderTemp">
	<div class="search-line">
		<div class="search-title">教材种类</div>
		<p #{if collection==0||collection==null}class="active"#{/if} onclick="setValue('bookListForm','collection','')">不限</p>
		#{list items:collections,as:'item'}
		<P #{if collection==item?.id}class="active"#{/if} onclick="setValue('bookListForm','collection','${item?.id}')">${item?.name}</P>
		#{/list}
		<input type="hidden" name="collection" value="${collection}">
	</div>
</div>
<div style="height:1300px;" class="lessons-table-area" >
	<div class="information-list pull-left">
		<div class="book-list-body">
		#{list items:books,as:'item'}
			<div  class="boraderTemp m-list-node outimg">
				<div class="m-list-node-lc">
					<a href="@{Books.detail(item.id)}">
					<img alt="" rel="${item?.image}">
					</a>
				</div>
				<div class="m-list-node-rc">
					<div class="title">
						<a href="@{Books.detail(item.id)}">${item.name}</a>
					</div>
					<div class="inf">
						${item.description}
					</div>
						<div class="buy">
							<p>
								<font class="f2">原价: ￥ ${item.oldprice}</font> <font class="f9">折扣：-</font> <font class="f8">现价: ￥ ${item.price} </font>
							</p>
							<p class="p1">
								<a href="javascript:;" title="购 买"></a>
							</p>
							<p class="p2">
								<a href="javascript:;" title="收 藏"></a>
							</p>
						</div>
				</div>
			</div>
		#{/list}
		</div>
		#{page pageNum:pageNum,totalCount:totalCount,pageSize:pageSize,formId:"bookListForm"/}
	</div>
	<div class="information-list-add pull-left">
		<div class="information-list-add-block pull-left">
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>热点推荐</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
			#{list items:hotInformations,as:'item'}
				<p><a href="@{Informations.detail(item.id)}">${item.title}</a></p>
			#{/list}
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>热门教师</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>推荐图片</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
		</div>
		<div class="information-list-heng-block pull-left boraderTemp">
		</div>
	</div>
	
</div>
		
</form>