        
        	<div id="footer">
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/01.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/02.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/03.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/05.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/06.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">xxxxxxxxxxxxx</a></dd>
	        		</dl>
        		</div>
				<div style="clear: both;text-align: center;">
					<p>Copyright (c) 20012 Sitename.com. All rights reserved. Design by <a href="#">MySchool</a>.</p>
				</div>
			</div>
	<!-- end #footer -->
    </body>