        <div id="footer-area">
        </div>
        	<div id="footer">
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/01.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">关于我们</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">竞争优势</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">管理团队</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">企业文化</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/02.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">网上查课流程</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">博苗名师查询</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">经典教材查询</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">课程优惠查询</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/03.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">如何注册会员</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">如何修改密码</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/05.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">开班流程</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">听课证须知</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">试听、陪听须知</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">调课、补课须知</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">转班、延期须知</a></dd>
	        		</dl>
        		</div>
        		<div class="footer-message">
	        		<dl>
	        			<dt><img src="@{'public/styles/img/06.gif'}"></dt>
	        			<dd><i class="icon-share-alt"></i><a href="#">在线客服</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">校长信箱</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">博苗教育微博</a></dd>
	        			<dd><i class="icon-share-alt"></i><a href="#">联系电话</a></dd>
	        		</dl>
        		</div>
				<div style="clear: both;text-align: center;">
					<p>你是第<b>${_visitTimes}</b>位访问者</p>
					<p>Copyright (c) 20012 Sitename.com. All rights reserved. Design by <a href="#">博苗教育</a>.</p>
				</div>
			</div>
	<!-- end #footer -->
    </body>