	<div id="head-div">
		<div id="head-top" class="boraderTemp">
			<div id="head-contact" class="pull-right">
				<span class="label label-info "><i class="icon-headphones icon-white"></i><b>Tel: 800-400-1000</b></span>
			</div>
			<div class="btn-group pull-right">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    北京
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a href="#">北京</a></li>
			    <li><a href="#">上海</a></li>
			  </ul>
			</div>
		</div>
		<div id="head-content" class="boraderTemp">
			<div class="school-logo"></div>
			<div class="head-blocks"></div>
			<div class="head-search">
				<form class="navbar-search pull-right">
					  <input type="text" class="search-query" placeholder="Search">
				</form>
			</div>
			
			
		</div>
		<div id="head-menu-div">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="container">
			    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
				      <ul class="nav">
						  <li class="active ">
						    <a href="#">Home</a>
						  </li>
						   <li class="divider-vertical"></li>
						  <li><a href="#">class</a></li>
						   <li class="divider-vertical"></li>
						  <li><a href="#">teachers</a></li>
						   <li class="divider-vertical"></li>
						  <li><a href="#">books</a></li>
						   <li class="divider-vertical"></li>
						  <li><a href="#">location</a></li>
						   <li class="divider-vertical"></li>
						  <li><a href="#">about</a></li>
						   <li class="divider-vertical"></li>
						</ul>
					</div>			      
			 	
			    </div>
			   </div>
		   </div>
	   </div>
</div>
