	<div id="head-div">
		<div id="head-top" class="boraderTemp">
			<div id="head-contact" class="pull-right">
				<span class="label label-info "><i class="icon-headphones icon-white"></i><b>Tel: 800-400-1000</b></span>
			</div>
			<div class="btn-group pull-right">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    北京
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a href="#">北京</a></li>
			    <li><a href="#">上海</a></li>
			  </ul>
			</div>
		</div>
		<div id="head-content" class="boraderTemp">
			<div class="school-logo"></div>
			<div class="head-blocks">
				<ul class="unstyled">
					<li class="big boraderTemp">
							<div class="img">
							</div>
					</li>
					<li class="bigmessage boraderTemp">
						<div class="message">
							ibg
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
					<li class="boraderTemp">
						<div class="img">
						</div>
					</li>
					<li class="message">
						<div>
							7
						</div>
					</li>
				</ul>
			</div>
			<div class="head-search">
			</div>
			
			
		</div>
		<div id="head-menu-div">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="container">
			    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
				      <ul class="nav">
						  <li class="active ">
						    <a href="#"><b>Home</b></a>
						  </li>
						  <li><a href="#">class</a></li>
						  <li><a href="#">teachers</a></li>
						  <li><a href="#">books</a></li>
						  <li><a href="#">location</a></li>
						  <li><a href="#">about</a></li>
						</ul>
					</div>			      
			 					<form class="navbar-search pull-right">
									  <input type="text" class="search-query" placeholder="Search"/>
									  <a class="btn btn-primary" type="button" href="#" style="margin-top: 0px;">
			     						<i class="icon-search icon-white"></i>    SEARCH</a>
								</form>
								
			    </div>
			   </div>
			     
		   </div>
	   </div>
</div>
<script type="text/javascript">
$(function(){
	$("div.head-blocks>ul>li .img").mouseenter(function(){
		var node = $(this).parent().next();
		var offset = $(this).parent().offset();
		node.css({top:offset.top,left:offset.left+$(this).parent().width()});
		node.animate({
		    opacity: 0.6,
		    width: 'show'
		  }, 100, function() {
		  });
	}
	).mouseleave(function(){
		var node = $(this).parent().next();
		node.hide();
	});
})
</script>