	<div id="head-div">
		<div id="head-top" class="">
			<div id="head-contact" class="pull-right">
				<span class="label label-info "><i class="icon-headphones icon-white"></i><b>Tel: 800-400-1000</b></span>
			</div>
			<div class="btn-group pull-right">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    沈阳
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu">
			    <li><a href="#">沈阳</a></li>
			    <li><a href="#">北京</a></li>
			  </ul>
			</div>
			<div class="btn-group pull-right">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
			    ${_user}
			    <span class="caret"></span>
			  </a>
			  #{if _user== "GUEST"}
			  <ul class="dropdown-menu">
			    <li><a href="@{Secure.login}">登录</a></li>
			    <li><a href="#">注册</a></li>
			  </ul>
			  #{/if}
			  #{else}
			  <ul class="dropdown-menu">
			    <li><a href="@{Secure.logout}">登出</a></li>
			  </ul>
			  #{/else}
			</div>
		</div>
		<div id="head-content" class="">
			<div class="school-logo"></div>
			<div class="head-blocks">
				<ul class="unstyled">
					<li class="big ">
							<div class="img">
								<img alt="" src="@{'public/images/teacherImgBig/'}/${_mainBigTeacher.img}">
							</div>
					</li>
					<li class="bigmessage ">
						<div class="message">
							<p>${_mainBigTeacher.name}</p>
							<p>${_mainBigTeacher.age}</p>
							<p>${_mainBigTeacher.graduateSchool}</p>
						</div>
					</li>
					#{list items:_mainTeachers,as:'teacherMain'}
					<li class="">
						<div class="img">
							<img alt="" src="@{'public/images/teacherImg/'}/${teacherMain.img}">
						</div>
					</li>
					<li class="message">
						<div>
							<p>${teacherMain.name}</p>
							<p>${teacherMain.age}</p>
							<p>${teacherMain.graduateSchool}</p>
						</div>
					</li>
					#{/list}
					
					
				</ul>
			</div>
			<div class="head-search">
			</div>
			
			
		</div>
		<div id="head-menu-div">
			<div class="navbar">
			  <div class="navbar-inner">
			    <div class="container">
			    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
				      <ul class="nav">
						  <li #{if _page=='index'}class="active"#{/if}>
						    <a href="@{Application.index}"><b>首页</b></a>
						  </li>
						  <li #{if _page=='lesson'}class="active"#{/if}><a href="@{Lessons.list}">课程</a></li>
						  <li #{if _page=='teacher'}class="active"#{/if}><a href="@{Teachers.show}">师资</a></li>
						  <li #{if _page=='books'}class="active"#{/if}><a href="#">教材</a></li>
						  <li #{if _page=='location'}class="active"#{/if}><a href="#">校区</a></li>
						  <li #{if _page=='about'}class="active"#{/if}><a href="#">关于我们</a></li>
						</ul>
						<form class="navbar-search pull-right">
									  <input type="text" class="search-query" placeholder="Search"/>
									  <a class="btn btn-primary" type="button" href="#" style="margin-top: 0px;">
			     						<i class="icon-search icon-white"></i>    搜索</a>
						</form>
					</div>			      
			 					
								
			    </div>
			   </div>
			     
		   </div>
	   </div>
</div>
<script type="text/javascript">
$(function(){
	$("div.head-blocks>ul>li .img").mouseenter(function(){
		var node = $(this).parent().next();
		var offset = $(this).parent().offset();
		node.css({top:offset.top-1,left:offset.left+$(this).parent().width()});
		node.animate({
		    opacity: 0.6,
		    width: 'show'
		  }, 100, function() {
		  });
	}
	).mouseleave(function(){
		var node = $(this).parent().next();
		node.hide();
	});
	$(".navbar>.navbar-inner .nav>li").click(function(){
		$(this).parent().children().removeClass("active");
		$(this).addClass("active");
	})
});
function pageTeacher(){
	$(".main-contianer").load("@{Teachers.teacherDetail}");
}
function pageClass(){
	$(".main-contianer").load("@{Lessons.list}");
}

</script>