<ul class="breadcrumb">
  <li>
   <i class="icon-home"></i> <a href="@{Application.index}">博苗网</a> <span class="divider">/</span>
  </li>
  <li class="active">
    新闻及优惠
  </li>
</ul>
<div>
<form action="@{Informations.listDetail}" method="post" id="informationListForm" onSubmit="return ajaxSubForm('informationListForm', 'main-contianer');">
<div class="lesson-search-area boraderTemp">
	<div class="search-line">
		<div class="search-title">新闻类型</div>
		<p #{if informationType==""||informationTypes==null}class="active"#{/if} onclick="setValue('informationListForm','informationType','')">不限</p>
		#{list items:informationTypes,as:'item'}
		<P #{if informationType==item?.codeValue}class="active"#{/if} onclick="setValue('informationListForm','informationType','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="informationType" value="${informationType}">
	</div>
</div>
<div style="height:1300px;" class="lessons-table-area" >
	<div class="information-list pull-left">
		<div class="information-list-body">
		<ul>
		#{list items:informations,as:'item'}
		<li class="iconli" ><a href="@{Informations.detail(item.id)}">${item?.title}</a><span class="tag">#{if item?.mainTag!=null&&item?.mainTag!=""}  [ ${item?.mainTag} ]#{/if}</span><span class="date">${item?.createdAt.format('yyyy-MM-dd hh:mm')}</span></li>
		#{/list}
		</ul>
		</div>
		#{page pageNum:pageNum,totalCount:totalCount,pageSize:pageSize,formId:"informationListForm"/}
	</div>
	<div class="information-list-add pull-left">
		<div class="information-list-add-block pull-left boraderTemp">
			<script type="text/javascript"><!--
				google_ad_client = "ca-pub-1954182191530851";
				/* big add block */
				google_ad_slot = "2745301487";
				google_ad_width = 336;
				google_ad_height = 280;
				//-->
				</script>
				<script type="text/javascript"
				src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>热点推荐</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>热门教师</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
		</div>
		<div class="information-list-block pull-left boraderTemp">
			<div class="head29h" style="width:315px"><span>推荐图片</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
		</div>
		<div class="information-list-heng-block pull-left boraderTemp">
			<script type="text/javascript">
			<!--
			google_ad_client = "ca-pub-1954182191530851";
			/* hengfu320x50 */
			google_ad_slot = "1308075852";
			google_ad_width = 320;
			google_ad_height = 50;
			//-->
			</script>
			<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>
	
</div>

</form>
</div>