<ul class="breadcrumb">
  <li>
   <i class="icon-home"></i> <a href="@{Application.index}">博苗网</a> <span class="divider">/</span>
  </li>
  <li class="active">
    新闻及优惠
  </li>
</ul>
<div>
<form action="@{Informations.listDetail}" method="post" id="informationListForm" onSubmit="return ajaxSubForm('informationListForm', 'main-contianer');">
<div class="lesson-search-area boraderTemp">
	<div class="search-line">
		<div class="search-title">新闻类型</div>
		<p #{if informationType==""||informationTypes==null}class="active"#{/if} onclick="setValue('informationListForm','informationType','')">不限</p>
		#{list items:informationTypes,as:'item'}
		<P #{if informationType==item?.codeValue}class="active"#{/if} onclick="setValue('informationListForm','informationType','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="informationType" value="${informationType}">
	</div>
</div>
<div class="lessons-table-area">
	<div class="information-list pull-left">
		<div class="information-list-body">
		<ul>
		#{list items:informations,as:'item'}
		<li class="iconli" ><a href="#">${item?.title}</a><span style="">${item?.createdAt.format('yyyy-MM-dd hh:mm')}</span></li>
		#{/list}
		</ul>
		</div>
		#{page pageNum:pageNum,totalCount:totalCount,pageSize:pageSize,formId:"informationListForm"/}
	</div>
	<div class="information-list-add boraderTemp pull-left">
	
	</div>
	
</div>

</form>
</div>