#{extends 'main.html' /}
#{set title:'teacher message' /}
<form action="@{Lessons.list}" method="post" id="lessonListForm">
<div class="lesson-search-area boraderTemp">
	<div class="search-line">
		<div class="search-title">选择课表</div>
		#{list items:timeTypes,as:'item'}
		<P #{if timeType==item?.codeValue}class="active"#{/if} onclick="setValue('lessonListForm','timeType','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="timeType" value="">
	</div>
	<div class="search-line">
		<div class="search-title">选择校区</div>
		#{list items:schools,as:'item'}
		<P #{if school==item?.id}class="active"#{/if} onclick="setValue('lessonListForm','school','${item?.id}')">${item?.name}</P>
		#{/list}
		<input type="hidden" name="school" value="">
	</div>
	<div class="search-line">
		<div class="search-title">选择学科</div>
		#{list items:lessonTypes,as:'item'}
		<P #{if lessonType==item?.codeValue}class="active"#{/if} onclick="setValue('lessonListForm','lessonType','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="lessonType" value="">
	</div>
	<div class="search-line">
		<div class="search-title">选择系列</div>
		#{list items:collections,as:'item'}
		<P #{if collection==item?.codeValue}class="active"#{/if} onclick="setValue('lessonListForm','collection','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="collection" value="">
	</div>
	<div class="search-line">
		<div class="search-title">选择课程</div>
		#{list items:subCollections,as:'item'}
		<P #{if subCollection==item?.codeValue}class="active"#{/if} onclick="setValue('lessonListForm','subCollection','${item?.codeValue}')">${item?.codeValue}</P>
		#{/list}
		<input type="hidden" name="subCollection" value="">
	</div>
</div>
<div class="lessons-table-area">
	<table class="table table-bordered">
					<thead>
						<tr style="background-color:#EAEAEA">
					      <th style="width:80px;">状态</th>
					      <th style="width:200px;">课程名称</th>
					      <th style="width:100px;">教师</th>
					      <th style="width:80px;">课次</th>
					      <th style="width:200px;">开课时间</th>
					      <th style="width:200px;">上课时间</th>
					      <th style="width:200px;">地点</th>
					      <th style="width:50px;">详细</th>
					    </tr>
				    </thead>
				    <tbody>
				    	#{list items:lessons,as:'lesson'}
				    	<tr>
				    		<td>${lesson.state}</td>
				    		<td>${lesson.name}</td>
				    		<td>${lesson.teacher.name}</td>
				    		<td>${lesson.times}</td>
				    		<td>${lesson.startTime}</td>
				    		<td>${lesson.endTime}</td>
				    		<td>${lesson.school.name}</td>
				    		<td><a href="#">详细</a></td>
				    	</tr>
				    	#{/list}
				    </tbody>
				</table>
		#{page pageNum:pageNum,totalCount:totalCount,pageSize:pageSize,formId:"lessonListForm"/}
</div>
</form>