.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
#foodtitle {
	height: 50px;
	background: url(images/img09.jpg) no-repeat left 3px;
	padding-left: 40px;
}
#title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #64BC31;
}
#showContentPic{
	
}

.show_img_mater{
	margin-top: 15px;
}
.show_img{
	float: left;
    width: 280px;
}
.show_mater{
	float: left;
    width: 310px;
    margin-left: 20px;	
}
.show_mater_tips{
	height: 100px;
	background-color: gray;
}
.show_mater_main {
	height: 100px;
	margin-top: 20px;
	background-color: maroon;
}
.show_mater_aux{
	height: 300px;
	margin-top: 20px;
	background-color: maroon;
}
.show_mater .mater_con{
    float: left;
    height: 40px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
    margin-left:5px;
    width: 92px;
	;
}
	