#{extends 'main.html' /}
#{set title:'Home' /}


<div id="page">
	<div id="page-bgtop">
		<div id="content">
		<div class="post" >
		<!-- the main carousel  -->
		<div id="flavor_2"></div>
		</div>
		
		<div class="editerRecommed make_corner">
			<div style="height: 30px;width:100%;font-size: 22px;">
			推荐菜谱：
				<div style="height: 3px;width: 100%;background-color: #F0844E;"></div>
			</div>
			<div class="first">
				<a href="@{Foods.show(firstRecommend.id)}"><p>老笨首推-- ${firstRecommend?.recommendTitle}</p></a>
				<img alt="${firstRecommend?.foodName}" src="@{'/public/images/'}/${firstRecommend?.mainPicture}">
				<div class="content">
				<div style="height: 75px">	${firstRecommend?.discription}</div>
				<em>[<a href="#">${firstRecommend?.foodMessage.taste}</a>]</em> <em>[<a href="#">${firstRecommend?.foodMessage.hardLevel}</a>]</em> 
				</div>
			</div>
			#{list items:recommendFoods,as:'food'}
			<div class="item">
				[<a href="#">${firstRecommend?.foodMessage.taste}</a>] <a href="@{Foods.show(food.id)}">${food?.recommendTitle}</a>
			</div>
			#{/list}
		</div>
		<div class="tbdArea make_corner">
		
		</div>
		<div class="newAddFoodArea make_corner">
		<div style="height: 30px;width:100%;font-size: 22px;">
		最近添加的菜谱：
			<div style="height: 3px;width: 100%;background-color: #F0844E;"></div>
		</div>
		<ul>
		#{list items:newlyFoods,as:'food'}
		<li>
		<a href="@{Foods.show(food.id)}">
		<img alt="" src="@{'/public/images/'}/${food.mainPicture}" height="90" width="90">
		<div style="width:100%"><strong>${food.foodName}</strong></div>
		<strong>${food.foodViewlogs?food.foodViewlogs.viewTimes:0}</strong> 浏览 <strong>${food.foodViewlogs?food.foodViewlogs.favoriteTimes:0}</strong>收藏
		</a>
		</li>
		#{/list}
		</ul>
		</div>
		#{list items:foods,as:'food'}
			<div class="post" >
				
				<p class="meta"><span class="date">${food.createdAt}</span>  Posted by <a href="#">Someone</a></p>
				<h2 class="title"><a href="@{Foods.show(food.id)}">${food.foodName}  </a></h2>
				<div class="entry">
					<p>
						<!--<div style="background: url(/public/images/${food.mainPicture}) no-repeat scroll 50% 50% transparent;height: 396px;">-->
						
						<div>
							<strong>${food.discription}</strong>
						</div>
						<br><br><br>
						<div style="overflow: hidden;height: 300px;margin-top: -100">
							<a href="@{Foods.show(food.id)}">
									 <img  alt="${food.foodName}" src="@{'/public/images/'}/${food.mainPicture}"> 
							</a>
						</div>
					</p>
					
				</div>
			</div>
		#{/list}
		</div>
		<!-- end #content -->
	#{indexSider /}
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>

<script type="text/javascript">
$(function(){
$.getJSON("@{'/public/javascripts/agile_carousel_data.php'}", function(data) {
    $(document).ready(function(){
        $("#flavor_2").agile_carousel({
            
            // required settings
            
            carousel_data: data,
            carousel_outer_height: 330,
            carousel_height: 230,
            slide_height: 230,
            carousel_outer_width: 600,
            slide_width: 600,
                                            
            // end required settings
                                            
            transition_type: "fade",
            transition_time: 600,
            timer: 3000,
            continuous_scrolling: true,
            control_set_1: "numbered_buttons",
            control_set_2: "content_buttons",
            change_on_hover: "content_buttons"
        });
    });
});
$(".make_corner").corner();
}
);
</script>