#{extends 'main.html' /}
#{set title:'Home' /}


<div id="page">
	<div id="page-bgtop">
		<div id="content">
		<div class="post" >
		<!-- the main carousel  -->
		<div id="flavor_2"></div>
		</div>
		#{list items:foods,as:'food'}
			<div class="post" >
				
				<p class="meta"><span class="date">${food.createdAt}</span>  Posted by <a href="#">Someone</a></p>
				<h2 class="title"><a href="@{Foods.show(food.id)}">${food.foodName}  </a></h2>
				<div class="entry">
					<p>
						<!--<div style="background: url(/public/images/${food.mainPicture}) no-repeat scroll 50% 50% transparent;height: 396px;">-->
						
						<div>
							<strong>${food.discription}</strong>
						</div>
						<br><br><br>
						<div style="overflow: hidden;height: 300px;">
							<a href="@{Foods.show(food.id)}">
									 <img  alt="${food.foodName}" src="@{'/public/images/'}/${food.mainPicture}"> 
							</a>
						</div>
					</p>
					
				</div>
			</div>
		#{/list}
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
				</li>
				<li>
					<h2>Pellenteque ornare </h2>
					<ul>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
				<li>
					<h2>Turpis nulla</h2>
					<ul>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>

<script type="text/javascript">
$(function(){
$.getJSON("@{'/public/javascripts/agile_carousel_data.php'}", function(data) {
    $(document).ready(function(){
        $("#flavor_2").agile_carousel({
            
            // required settings
            
            carousel_data: data,
            carousel_outer_height: 330,
            carousel_height: 230,
            slide_height: 230,
            carousel_outer_width: 600,
            slide_width: 600,
                                            
            // end required settings
                                            
            transition_type: "fade",
            transition_time: 600,
            timer: 3000,
            continuous_scrolling: true,
            control_set_1: "numbered_buttons",
            control_set_2: "content_buttons",
            change_on_hover: "content_buttons"
        });
    });
});
}
);
</script>