#{extends 'main.html' /}
#{set title:'Home' /}
<div id="page">
	<div id="page-bgtop">
		<div id="content">
		<!-- the main carousel  -->
			<h2 id="foodtitle"><a href="#" >${food.foodName}  </a></h2>
			
			<p class="meta"><span class="date">${food.createdAt}</span>  Posted by <a href="#">Someone</a></p>
			<div class="show_img_mater clearfix">
				<div class="show_img" >
						<a href="@{Foods.show(food.id)}">
									 <img  alt="${food.foodName}" src="@{'/public/images/'}/${food.mainPicture}" height="500" width="300"> 
							</a>
							<div class="show_food_scoure">
								<div class="view_times">
								<span><strong>${food.foodViewlogs.viewTimes} 浏览</strong></span>
								<span><strong>${food.foodViewlogs.favoriteTimes} 喜欢</strong></span>
								<span><strong>${food.foodViewlogs.cookTimes} 做过</strong></span>
								</div>
								<div class="favorite_area">
								</div>
							</div>
				</div>
			
				<div class="show_mater">
					<div class="show_mater_tips">
					
					</div>
					<div class="show_mater_main">
						<div style="height: 20px;"><strong>主料</strong></div>
						<ul class="clearfix" style="clear: both;">
							#{list items:mainMaterials,as:'material'}
							<li class="show_mater_materli">
								<a href="#">
									<div class="clearfix"></div>
									<img width="40" height="40" src="@{'public/images/f2_thumb.jpg'}"/> 
									<strong>${material.materialsName}</strong>
									<em>${material.foodMaterials.foodMaterialsCount}</em> 
								</a>
							</li>
							#{/list}
						</ul>
					</div>
					<div class="show_mater_aux">
						<div style="height: 20px;"><strong>辅料</strong></div>
						<ul class="clearfix" style="clear: both;">
							#{list items:auxMaterials,as:'material'}
							<li class="show_mater_materli">
								<a href="#">
									<div class="clearfix"></div>
									<img width="40" height="40" src="@{'public/images/f2_thumb.jpg'}"/> 
									<strong>${material.materialsName}</strong>
									<em>${material.foodMaterials.foodMaterialsCount}</em> 
								</a>
							</li>
							#{/list}
						</ul>
						<div style="height: 20px;"><strong>调料</strong></div>
						<ul class="clearfix" style="clear: both;">
							#{list items:seaMaterials,as:'material'}
							<li class="show_mater_materli">
								<a href="#">
									<div class="clearfix"></div>
									<img width="40" height="40" src="@{'public/images/f2_thumb.jpg'}"/> 
									<strong>${material.materialsName}</strong>
									<em>${material.foodMaterials.foodMaterialsCount}</em> 
								</a>
							</li>
							#{/list}
						</ul>
					</div>
				</div>
			</div>
		
		
			<div class="post">
				
				
				<div class="entry" >
				<p class="meta"><strong style="font-size: 20px;">简介：</strong></p>
					<p>
					<strong>${food.discription}</strong>
					</p>
				</div>
				<p class="meta"><strong style="font-size: 20px;">做法：</strong></p>
				#{list items:food.foodMethods,as:'method'}
				<div class="comments">
					<p><strong>${method.step} : </strong> ${method.methodDetail}</p>
				</div>
				#{/list}
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>Aliquam tempus</h2>
					<p>Mauris vitae nisl nec metus placerat perdiet est. Phasellus dapibus semper urna. Pellentesque ornare, orci in consectetuer hendrerit, volutpat.</p>
				</li>
				<li>
					<h2>Pellenteque ornare </h2>
					<ul>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
				<li>
					<h2>Turpis nulla</h2>
					<ul>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
						<li><a href="#">Magna lacus bibendum mauris</a></li>
						<li><a href="#">Velit semper nisi molestie</a></li>
						<li><a href="#">Eget tempor eget nonummy</a></li>
						<li><a href="#">Nec metus sed donec</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->

</div>