
/*


Released for free under a Creative Commons Attribution 2.5 License
*/


/*head*/
.boraderTemp {
	border-style: solid;
	border-width: 1px;
}
#head-div {
	float: left;
	width: 100%;
	height: 240px;
}

#head-top {
	float: left;
	width: 100%;
	height: 28px;
	margin-bottom: 2px;
}


#head-contact{
	height: 28px;
	padding: 2px 2px 2px 2px;	
}

#head-content{
	width: 1200px;
	margin: 0px auto;
	height: 160px;
	clear: both;
	
}
#head-content .school-logo{
	float: left;
	width:350px;
	height:100%;
	background-image: url("images/ui-icons_72a7cf_256x240.png");
	background-repeat: repeat-x;
	margin: 0 5px 0 10px;
}
#head-content .head-blocks{
	float: left;
	width:370px;
	height:160px;
	margin: 0 5px 0 10px;
	padding-top: 2px;
}
#head-content .head-blocks ul{
	position: static;
}
#head-content .head-blocks li{
	float: left;
	cursor: pointer;
	margin: 1px 1px 0 0;
	height: 50px;
	width: 50px;
}
#head-content .head-blocks li>.img{
	float: left;
	height: 50px;
	width: 50px;
	background-color: green;
}
#head-content .head-blocks li.message{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: red;
	display: none;
	
}
#head-content .head-blocks li.big{
	float: left;
	height: 101px;
	width: 101px;
}
#head-content .head-blocks li.big>.img{
	float: left;
	height: 101px;
	width: 101px;
	background-color: green;
}
#head-content .head-blocks li.bigmessage{
	height: 101px;
	width: 101px;
	background-color: red;
	display: none;
	position: absolute;
}
#head-menu-div{
	float: left;
	width: 100%;
	height: 45px;
	margin-top: 5px;
	text-transform: uppercase;
}
#head-menu-div li a{
	text-align:center;
	width: 75px;
}







/*
main css
*/

.main-contianer{
	width: 1200px;
	height:auto;
	margin: 0px auto;
	clear:both;
}
.main-carousel{
	float:left;
	width:750px;
	height:280px;
	margin: 5px 5px 10px 5px;
}
.login-area{
	float: left;
	width: 420px;
	height:180px;
	margin: 5px 5px 10px 5px;
	background-color: #f5f5f5;
	border-color: C9C9C9;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: inset;
	border-bottom-style: outset;
}
.login-area .loginInput{
	float: left;
	width: 400px;
	margin: 10px 10px 0px 20px;
	height:40px;
}
.login-area .loginInput:first-child{
	margin-top: 30px;
}
.login-area .loginInput>p>span{
	margin-right: 40px;
}
.login-area .loginInput>p>login-title{
	float: left;
	width:80px; 
	height:28px;
	line-height:28px;
	
	text-align: center;
	display: block;
}
.login-area .loginInput>button{
	margin-left: 20px;
}
.hot-message-area{
	float: left;
	width: 420px;
	height:80px;
	margin: 5px 5px 5px 5px;
}
/*
footer css
*/

#footer{
	width: 1200px;
	height:auto;
	margin: 0px auto;
	clear:both;
}

.footer-message{
	float:left;
	width:230px;
	height:atuo;
	margin: 5px 5px 5px 5px;
}



/* corner mark */
.make_corner{
	
}
/*start*/
.jsstar  

{  list-style: none;  

margin: 0px;  

padding: 0px;  

width: 100px;  

height: 20px;  

position: relative;   }  

.jsstar li    { 

 padding:0px;  

margin: 0px;  

float: left;   

width:20px;  

height:20px;  

background:url(star_rating.gif) 0 0 no-repeat;  }  



