
/*


Released for free under a Creative Commons Attribution 2.5 License
*/


/*head*/
.boraderTemp {
	border-style: solid;
	border-width: 1px;
}
#head-div {
	float: left;
	width: 100%;
	height: 240px;
}

#head-top {
	float: left;
	width: 100%;
	height: 28px;
	margin-bottom: 2px;
}

#head-contact{
	height: 28px;
	padding: 2px 2px 2px 2px;	
}

#head-content{
	float: left;
	width: 100%;
	height: 160px;
	
}
#head-content .school-logo{
	float: left;
	width:350px;
	height:100%;
	background-image: url("images/ui-icons_72a7cf_256x240.png");
}
#head-menu-div{
	float: left;
	width: 100%;
	height: 40px;
	margin-top: 5px;
}
#head-menu-div li a{
	text-align:center;
	width: 150px;
}
/* corner mark */
.make_corner{
	
}
/*start*/
.jsstar  

{  list-style: none;  

margin: 0px;  

padding: 0px;  

width: 100px;  

height: 20px;  

position: relative;   }  

.jsstar li    { 

 padding:0px;  

margin: 0px;  

float: left;   

width:20px;  

height:20px;  

background:url(star_rating.gif) 0 0 no-repeat;  }  



