#{extends 'main.html' /}
#{set title:'Home' /}




<script type="text/javascript">
<!--

//-->
$(function(){
	 $("a[rel=popover]").popover();
	 $(".make_corner").corner();
	 $(".class-level-area>ul>li").mouseenter(function(){
		 $(this).css({opacity:'0.4'});
		 $(".tooltip-area").html($(".class-level-message",this).html());
	 }).mouseleave(function(){
		 $(this).css({opacity:'1'});
	 });
})
</script>
		<div id="flavor_1" class="main-carousel boraderTemp">
		</div>
		<div class="login-area">
			<form class="" action="@{Users.login}">
			  	<div class="loginInput">
			  		<p><span class="login-title"><b>Email</b></span>
			  		<input type="text" class="input-large" id="email" name="email">
			  		</p>
			  	</div>
			  	<div class="loginInput">
			  		<p><span class="login-title"><b>PASSWORD</b></span>
			  		<input type="password" class="input-large" id="password" name="password">
			  		</p>
			  	</div>
			  	<div class="loginInput">
			  		<p><input type="checkbox" id="rememberUsername" name="rememberUsername"><span><b>remember user name</b></span>
			  			
			   	 		<button type="submit" class="btn btn-primary "> <i class="icon-user icon-white"></i>  Login  >></button>
			   	 		<a href="#" class="" style="line-height: 24px;"> <i class="icon-pencil"></i>Register</a>
			  		</p>
			  	</div>
			</form>
		</div>
		<div class="hot-message-area boraderTemp .make_corner">
		</div>
		
		<div class="main-tab ">
			<div class="tab-head">
				<b>tab1</b>
			</div>
			<div class="tab-body">  
			</div>
		</div>
		
		<div class="main-tab ">
			<div class="tab-head">
				<b>课程</b>
			</div>
			<div class="tab-body">
				<div class="tooltip-area boraderTemp">
				</div>
				<div class="class-level-area boraderTemp">
					<ul>
						#{list items:classLevels,as:'classLevel'}
						<li class="li${classLevel.level}">
						${classLevel.name}
							<div class="class-level-message">${classLevel.discription}</div>							
						</li>
						#{/list}
					</ul>
				</div>
				<div class="class-img-area boraderTemp">
				</div>
				<div class="class-sammary-area boraderTemp">
				</div>
			</div>
		</div>

