#{extends 'main.html' /}
#{set title:'首页 - 博苗教育' /}




<script type="text/javascript">
<!--

//-->
$(function(){
	 $(".class-level-area>ul>li").mouseenter(function(){
		 $(this).css({opacity:'0.4'});
		 $(".tooltip-area").html($(".class-level-message",this).html());
	 }).mouseleave(function(){
		 $(this).css({opacity:'1'});
	 });
	 var i = 4;
		
	 var sa = new scollDiv($("#float-sale-message"), 'li', 3000, true,'left',160);
		sa.start();
		
	$(".test").hrzAccordion({eventTrigger:"mouseover",openOnLoad:"",cycle: true});
})

</script>
	<div class="spec-contianer" style="height:1300px">
		<div id="flavor_1" class="main-carousel boraderTemp">
		</div>
		<div class="login-area">
			<form class="" action="@{Users.login}">
			#{if user=="GUEST"}
			  	<div class="loginInput">
			  		<p><span class="login-title"><b>邮箱</b></span>
			  		<input type="text" class="input-large" id="email" name="email">
			  		</p>
			  	</div>
			  	<div class="loginInput">
			  		<p><span class="login-title"><b>密码</b></span>
			  		<input type="password" class="input-large" id="password" name="password">
			  		</p>
			  	</div>
			  	<div class="loginInput">
			  		<p><input type="checkbox" id="rememberUsername" name="rememberUsername"><span><b>记住用户名</b></span>
			  			
			   	 		<button type="submit" class="btn btn-primary "> <i class="icon-user icon-white"></i>  登录  >></button>
			   	 		<a href="#" class="" style="line-height: 24px;"> <i class="icon-pencil"></i>注册</a>
			  		</p>
			  	</div>
			  #{/if}
			  #{else}
			  	welcom Mr/Ms ${user}
			  #{/else}
			</form>
		</div>
		<div class="hot-message-area boraderTemp .make_corner">
		</div>
		
		<div class="main-tab ">
			<div class="tab-head">
				<b>新闻及优惠</b>
			</div>
			<div class="tab-body"> 
				<div class="sale-message boraderTemp pull-left tab-margin">
					<div class="head29h" style="width:310px"><span>优惠推荐</span><a href="#" class="pull-left">更多>></a></div>
					<div class="sale-message-body">
						<div id="float-sale-message">
							#{list items:saleMessages,as:'subList'}
							<div class="sale-message-block  pull-left margin2">
								#{list items:subList,as:'item'}
								<div class="sale-message-block1 boraderTemp pull-left pagination-centered shadow-class">${item.title}</div>
								#{/list}
							</div>
							#{/list}
						</div>
					</div>
				</div>
				<div class="news-message boraderTemp pull-left tab-margin">
					<div class="head29h" style="width:540px"><span>博苗大事</span><a href="@{Informations.list}" class="pull-left">更多>></a></div>
					<ul class="margin3 pull-left">
						<li class="margin3"><a href="@{Informations.detail(firstNews.id)}">${firstNews?.title}</a></li>
						#{list items:mainNews,as:'item'}
						<li class="margin3 iconli"><a href="@{Informations.detail(item.id)}">${item.title}</a></li>
						#{/list}
					</ul>
				</div>
				<div class="add-message boraderTemp pull-left tab-margin">
					<div class="" style="width:255px;height:255px">
						<script type="text/javascript"><!--
						google_ad_client = "ca-pub-1954182191530851";
						/* 主页ADS */
						google_ad_slot = "5385738962";
						google_ad_width = 250;
						google_ad_height = 250;
						//-->
						</script>
						<script type="text/javascript"
						src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
					</div>
				</div> 
			</div>
		</div>
		
		<div class="main-tab ">
			<div class="tab-head">
				<b>课程体系</b>
			</div>
			<div class="tab-body">
				<div class="tooltip-area boraderTemp">
				</div>
				<div class="class-level-area boraderTemp">
					<ul>
						#{list items:classLevels,as:'classLevel'}
						<li class="li${classLevel.level}">
						${classLevel.name}
							<div class="class-level-message">${classLevel.discription}</div>							
						</li>
						#{/list}
					</ul>
				</div>
				<div class="class-img-area boraderTemp">
					<img alt="" src="/public/images/levelicon.jpg">
				</div>
				<div class="class-sammary-area boraderTemp">
					
				</div>
			</div>
		</div>
		<div class="main-tab ">
			<div class="tab-head">
				<b>教材介绍</b>
			</div>
			<div class="tab-body">
				<div class="book-area">
					<ul class="test">
					  <li>
					    <div class="handle"><img src='/public/styles/horizontal/images/title1.png'></div>
					    <img src='/public/styles/horizontal/images/image_test.gif' align='left'>
					    <h3>Content 1</h3>
					    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vestibulum metus sed massa. Pellentesque pharetra felis a enim. Aliquam sapien nisl, iaculis ac, hendrerit placerat, iaculis congue, augue. Quisque eget mi quis purus vestibulum eleifend. Maecenas condimentum eros vel eros. Ut facilisis leo id mi. Suspendisse nisl magna, consequat quis, pretium eget, laoreet vel, orci.<br>
					      <br>
					      Mauris sed mauris. Praesent imperdiet, nunc ut sollicitudin hendrerit, nisi tellus mollis leo, blandit pharetra nulla orci id eros. Nullam ut nunc. Praesent lacus lacus, tempor a, dignissim eu, tristique ac, tortor. Sed faucibus. Integer eleifend lacus ac neque. Fusce tempus. In hac habitasse platea dictumst. Nulla arcu neque, gravida at, rhoncus id, pharetra vitae, tortor. Aenean vestibulum consequat augue.</p>
					  </li>
					  <li>
					    <div class="handle"><img src='/public/styles/horizontal/images/title2.png'></div>
					    <img src='/public/styles/horizontal/images/image_test.gif' align='left'>
					    <h3>Content 2</h3>
					    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vestibulum metus sed massa. Pellentesque pharetra felis a enim. Aliquam sapien nisl, iaculis ac, hendrerit placerat, iaculis congue, augue. Quisque eget mi quis purus vestibulum eleifend. Maecenas condimentum eros vel eros. Ut facilisis leo id mi. Suspendisse nisl magna, consequat quis, pretium eget, laoreet vel, orci.<br>
					      <br>
					      Mauris sed mauris. Praesent imperdiet, nunc ut sollicitudin hendrerit, nisi tellus mollis leo, blandit pharetra nulla orci id eros. Nullam ut nunc. Praesent lacus lacus, tempor a, dignissim eu, tristique ac, tortor. Sed faucibus. Integer eleifend lacus ac neque. Fusce tempus. In hac habitasse platea dictumst. Nulla arcu neque, gravida at, rhoncus id, pharetra vitae, tortor. Aenean vestibulum consequat augue.</p>
					  </li>
					  <li>
					    <div class="handle"><img src='/public/styles/horizontal/images/title3.png'></div>
					    <img src='/public/styles/horizontal/images/image_test.gif' align='left'>
					    <h3>Content 3</h3>
					    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vestibulum metus sed massa. Pellentesque pharetra felis a enim. Aliquam sapien nisl, iaculis ac, hendrerit placerat, iaculis congue, augue. Quisque eget mi quis purus vestibulum eleifend. Maecenas condimentum eros vel eros. Ut facilisis leo id mi. Suspendisse nisl magna, consequat quis, pretium eget, laoreet vel, orci.<br>
					      <br>
					      Mauris sed mauris. Praesent imperdiet, nunc ut sollicitudin hendrerit, nisi tellus mollis leo, blandit pharetra nulla orci id eros. Nullam ut nunc. Praesent lacus lacus, tempor a, dignissim eu, tristique ac, tortor. Sed faucibus. Integer eleifend lacus ac neque. Fusce tempus. In hac habitasse platea dictumst. Nulla arcu neque, gravida at, rhoncus id, pharetra vitae, tortor. Aenean vestibulum consequat augue.</p>
					  </li>
					  <li>
					    <div class="handle"><img src='/public/styles/horizontal/images/title4.png'></div>
					    <img src='/public/styles/horizontal/images/image_test.gif' align='left'>
					    <h3>Content 4</h3>
					    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus vestibulum metus sed massa. Pellentesque pharetra felis a enim. Aliquam sapien nisl, iaculis ac, hendrerit placerat, iaculis congue, augue. Quisque eget mi quis purus vestibulum eleifend. Maecenas condimentum eros vel eros. Ut facilisis leo id mi. Suspendisse nisl magna, consequat quis, pretium eget, laoreet vel, orci.<br>
					      <br>
					      Mauris sed mauris. Praesent imperdiet, nunc ut sollicitudin hendrerit, nisi tellus mollis leo, blandit pharetra nulla orci id eros. Nullam ut nunc. Praesent lacus lacus, tempor a, dignissim eu, tristique ac, tortor. Sed faucibus. Integer eleifend lacus ac neque. Fusce tempus. In hac habitasse platea dictumst. Nulla arcu neque, gravida at, rhoncus id, pharetra vitae, tortor. Aenean vestibulum consequat augue.</p>
					  </li>
					</ul>
					<!-- <div class="slider">
						<div class="slider-head">
						</div>
						<div class="slider-body">
						</div>
					</div> -->
				</div>
				<div class="contact-area boraderTemp">
					<div class="head29h" style="width:270px"><span>联系我们</span></div>
					<p>${"".pad(2).raw()}课程咨询</p>
					<p>${"".pad(2).raw()}联系电话：<b>010-82126556</b></p>
					<p> ${"".pad(18).raw()}<b>010-82126557</b></p>
					
				</div>
			</div>
		</div>
</div>