#{extends 'main.html' /}
#{set title:'Home' /}




<script type="text/javascript">
<!--

//-->
$(function(){
$.getJSON("@{'public/javascripts/agile_carousel_data.php'}", function(data) {
    $(document).ready(function(){
        $("#flavor_1").agile_carousel({
            carousel_data: data,
            carousel_outer_height: 280,
            carousel_height: 280,
            slide_height: 280,
            carousel_outer_width: 750,
            slide_width: 750,
            transition_time: 300,
            timer: 4000,
            continuous_scrolling: true,
            control_set_1: "numbered_buttons",
            no_control_set: "hover_previous_button,hover_next_button"
        });
    });
});
})
</script>
<div class="main-contianer">
	<div id="flavor_1" class="main-carousel boraderTemp">
	</div>
	<div class="login-area">
		<form class="" action="@{Users.login}">
		  	<div class="loginInput">
		  		<p><span class="login-title"><b>Email</b></span>
		  		<input type="text" class="input-large" id="email" name="email">
		  		</p>
		  	</div>
		  	<div class="loginInput">
		  		<p><span class="login-title"><b>PASSWORD</b></span>
		  		<input type="password" class="input-large" id="password" name="password">
		  		</p>
		  	</div>
		  	<div class="loginInput">
		  		<p><input type="checkbox" id="rememberUsername" name="rememberUsername"><span><b>remember user name</b></span>
		  			
		   	 		<button type="submit" class="btn btn-primary "> <i class="icon-user icon-white"></i>  Login  >></button>
		   	 		<a href="#" class="" style="line-height: 24px;"> <i class="icon-pencil"></i>Register</a>
		  		</p>
		  	</div>
		</form>
	</div>
	<div class="hot-message-area boraderTemp">
	</div>
	
	<div class="main-tab ">
		<div class="tab-head">
			<b>tab1</b>
		</div>
	</div>
	
	<div class="main-tab ">
		<div class="tab-head">
			<b>课程</b>
		</div>
	</div>
	<!-- <div style="background-color: black;height: 800px;"></div> -->
</div>

